body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:782px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:629px;
  height:758px;
}
#u7720 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:55px;
  width:629px;
  height:758px;
  display:flex;
}
#u7720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u7721 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:38px;
  width:81px;
  height:23px;
  display:flex;
}
#u7721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
